@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height-desk: 100px;
  --nav-height-mob: 80px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {}